:root {
    --my-black-background: #160101;
    --my-yellow-background: #FAD102;
    --my-white-letters: #ffffff;
    --my-yellow-letters: #FAD102;
    --my-gradient-background: #fbb034;
    --my-gradient-background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

body {
    margin: 0 auto;
    background-color: var(--my-yellow-background);
    height: 100%;
}

.hide {
    display: none;
}

.black {
    background-color: var(--my-black-background);
}

.yellow {
    color: var(--my-yellow-letters);
}

.yellow-background {
    background-color: var(--my-yellow-background);
}

.gradient-background {
    background-color: var(--my-gradient-background);
    --my-gradient-background-image
}

.gradient-image {
    background-image: var(--my-gradient-background-image);
}

.white {
    color: var(--my-white-letters)
}

.flex {
    display: flex;
}

nav p {
    font-size: 1rem;
}

nav {
    height: 3.2vw;
    width: 100%;
    justify-content: space-between;
}

#navigations-logo {
    flex-basis: 15vw;
    height: 6.5vw;
}

#navigations-logo img {
    width: 2vw;
    height: 2vw;
    margin-top: -0.8vw;

}

#navigations-logo p {
    margin-top: -0.5vw;
}

#navigations-knapper {
    flex-basis: 17.7vw;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: #FAD102;
    align-self: ;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
