:root {
    --my-black-background: #160101;
    --my-yellow-background: #FAD102;
    --my-white-letters: #ffffff;
    --my-yellow-letters: #FAD102;
    --my-gradient-background: #fbb034;
    --my-gradient-background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

body {
    margin: 0 auto;
    background-color: var(--my-yellow-background);
    height: 100%;
}


img {
    width: 100%;
}


h1 {
    font-family: star-bold;
    color: #FAD102;
    font-size: 3rem;
}

h2 {
    font-family: star-regular;
    color: #FAD102;
    font-size: 2rem;
}

p {
    font-family: tryst;
    color: #ffffff;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    font-family: tryst;
    font-size: 1rem;
}

@font-face {
    font-family: tryst;
    src: url('fonts/tryst/tryst-regular-webfont.woff2') format('woff2'),
        url('font/tryst/tryst-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: star-regular;
    src: url('fonts/star-regular/stardosstencil-regular-webfont.woff2') format('woff2'),
        url('font/tryst/tryst-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: star-bold;
    src: url('fonts/star-bold/stardosstencil-bold-webfont.woff2') format('woff2'),
        url('font/tryst/tryst-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.hide {
    display: none;
}

.black {
    background-color: var(--my-black-background);
}

.yellow {
    color: var(--my-yellow-letters);
}

.yellow-background {
    background-color: var(--my-yellow-background);
}

.gradient-background {
    background-color: var(--my-gradient-background);
    --my-gradient-background-image
}

.gradient-image {
    background-image: var(--my-gradient-background-image);
}

.white {
    color: var(--my-white-letters)
}

.flex {
    display: flex;
}

#portfolio {
    overflow: hidden;
}

#portfolio-indhold {
    width: 100vw;
    flex-wrap: wrap;

}

#box {
    border: 2vw solid;
    margin: 5vw;
    border-radius: 3vw;
}

#intro-container {
    justify-content: center;

}

#portfolio img {
    width: 35vw;
}

#top-txt {
    border-radius: 3vw;
    text-align: center;
}

#top-txt p {
    width: 60vw;
}

#top-txt h1 {
    text-align: center;
}

.top-row {
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
}

.txt {
    border: solid;
    line-height: 0.6rem;
}

#portfolio .tema-container {
    margin-bottom: 5vw;

}

#portfolio .tema-container h2 {
    text-align: center;
}

#tema2-column {
    flex-direction: column;
    width: 50vw;
    border-radius: 2vw;
}

#tema1-column {
    flex-direction: column;
    width: 50vw;
    border-radius: 2vw;
}

#tema3-column {
    width: 50vw;
    flex-direction: column;
    border-radius: 2vw;
}

#tema4-column {
    width: 50vw;
    flex-direction: column;
    border-radius: 2vw;
}

#popup-container {
    justify-content: center;
}

.popup-txt p {
    width: 46vw;
    margin: auto;
}

#tema2-btn:hover {
    cursor: pointer;
}

#forside {
    height: 100%;
    min-height: calc(100vh - 40px);
}

#forside-container {}

#forside-box {}

#forside-logo {
    margin: auto;
}

.tema-container1 {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5vw;
}

.tema-container2 {
    flex-wrap: wrap;
    margin: 5vw;
    justify-content: center;
}

.right-column-box {
    border: 4vw solid;
    border-radius: 2vw;
    width: 77.3vw;
    flex-basis: 50vw;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}

.left-column-box {
    border: 4vw solid;
    border-radius: 2vw;
    width: 77.3vw;
    flex-basis: 50vw;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}

.left-pictures-box {
    flex-direction: column;
    align-self: center;
}

.right-pictures-box {
    align-self: center;
}

.right-pictures {
    width: 22vw;
}

.right-pictures img {
    width: 20vw;
    margin: 5vw;
}


#menuknap {
    color: #ffffff;
    opacity: 0;
}

nav p {
    font-size: 1rem;
}

nav {
    height: 3.2vw;
    width: 100%;
    justify-content: space-between;
}

#navigations-logo {
    flex-basis: 15vw;
    height: 6.5vw;
}

#navigations-logo img {
    width: 2vw;
    height: 2vw;
    margin-top: -0.8vw;

}

#navigations-logo p {
    margin-top: -0.5vw;
}

#navigations-knapper {
    flex-basis: 17.7vw;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: #FAD102;
    align-self: ;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

.dropdown {
    position: absolute;
    left: 87vw;
    width: 6vw;
    line-height: 2.1vw;
    opacity: 1;

}

.dropdown-content p {
    position: relative;
    left: 1.3vw;
    top: 1.5vw;
    color: #FAD102;
}

.dropbutton {
    position: relative;
    opacity: 0;
}

.dropdown-content {
    position: relative;
    right: 1vw;
    bottom: 0.6vw;
    background-image: linear-gradient(to right top, #1b1414, #1c1515, #1d1717, #1f1818, #201919, #211a1a, #231a1a, #241b1b, #261c1c, #271d1d, #291e1e, #2b1f1f);
    width: 6.4vw;
}

.dropdown-content a:hover {
    color: purple;
}

.dropdown:hover {
    opacity: 0.9;
}

.dropdown-content a {
    position: relative;
    left: 1.3vw;
}

#kontakt-row {
    text-align: center;
    justify-content: space-around;
}

#kontakt-row img {
    width: 4vw;
}

#kontakt-row p {
    font-size: 1rem;
}

.circle {
    margin-left: 0vw;
    margin-right: 0vw;
}

#circle-link {
    margin-right: 0vw;
    margin-left: 0vw;
}
